.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.topbarLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.topbarCenter {
    flex: 5;
}

.searchBar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    width: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 85%;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ddd;
}

.topbarLinks {
    display: flex;
}

.topbarLink {
    margin-right: 10px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarIconItem {
    cursor: pointer;
    margin-right: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 60px;
}

.topbarIconItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.topbarIconBadge {
    width: 18px;
    height: 18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    margin-bottom: 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topbarImg:hover {
    opacity: 0.9;
    cursor: pointer;
}